[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tung1796
[access "refs/for/refs/*"]
	read = group user/tung1796
	push = group user/tung1796
	label-Code-Review = -2..+2 group user/tung1796
	label-Verified = -1..+1 group user/tung1796
	rebase = group user/tung1796
	removeReviewer = group user/tung1796
	submit = group user/tung1796
[access "refs/heads/*"]
	read = group user/tung1796
	create = group user/tung1796
	push = +force group user/tung1796
	pushMerge = group user/tung1796
[access "refs/tags/*"]
	push = group user/tung1796
	push = +force group user/tung1796
